# Python QUICK

## Integers

In [1]:
a = 66
type(a)

int

In [2]:
b = 1000
b.bit_length()

10

In [4]:
a+b #This is commentary.Result of a+b should be 1066

1066

## Floats

In [5]:
c= 1.6
d=1.
type(c)
type(d)

float

## Boolean

In [6]:
6>4

True

In [8]:
type(False)

bool

In [9]:
not True

False

In [3]:
not False

True

In [11]:
(3>4) and (2<1)

False

In [15]:
int(True)

1

In [16]:
int(False)

0

## Strings

In [11]:
s = " string this is it "

In [8]:
s.capitalize()

'String this is it'

In [20]:
s.split()

['string', 'this', 'is', 'it']

In [9]:
s

'string this is it'

In [21]:
s.find("this")

7

In [12]:
print(s+s)

 string this is it  string this is it

In [4]:
"what is happening {:d} times?".format(12)

'what is happening 12 times?'

In [29]:
"what is happening {:04d} times?".format(12)

'what is happening 0012 times?'

## Date Time

In [4]:
from datetime import datetime
dt = datetime.strptime('04/22/2017 15:00:00'.replace("'", ""),'%m/%d/%Y %H:%M:%S')
print(dt)
type(dt)

2017-04-22 15:00:00

datetime.datetime

## If , While

In [12]:
if 10<20:
    print("Yes,condition fulfiled")

Yes,condition fulfiled

In [14]:
i =0
while i <4:
    print("still in the while loop")
    i = i + 1 # or i += 1
print("outsite of loop")

still in the while loop
still in the while loop
still in the while loop
still in the while loop
outsite of loop

In [1]:
range(1,6)

range(1, 6)

## for loop

In [2]:
for x in range(1, 5):
    print(x+1)

2
3
4
5

In [26]:
l = [i+i for i in range(8)]
print(l)
type(l)

[0, 2, 4, 6, 8, 10, 12, 14]

list

## Function def

In [28]:
def Add(x,y):
    return x+y

In [9]:
def Kwadratowa(x):
    return x*x

In [10]:
Kwadratowa(9)

81

## Printing Numbers and using function

In [18]:
summa = 0
for x in range(1, 5):
    summa = Add(summa,x)
    print(f"Adding {x}, summa so far is {summa}")

Adding 1, summa so far is 1
Adding 2, summa so far is 3
Adding 3, summa so far is 6
Adding 4, summa so far is 10

## Tuple

In [7]:
tup = (4, 2.4, 'python')
type(tup)

tuple

In [8]:
tup[2]

'python'

In [10]:
tup.count(2.4)

1

In [13]:
tup.index('python')

2

## Lists

In [17]:
li = list(tup)
print(li)
type(li)

[4, 2.4, 'python']

list

In [19]:
a = ['a', 'b', 'c', 'd']
print(a)

['a', 'b', 'c', 'd']

In [20]:
for x in a:
    print(x)

a
b
c
d

In [21]:
for x,y in enumerate(a):
    print(f"{x}:{y}")

0:a
1:b
2:c
3:d

In [21]:
# Manually add items, lists allow duplicates
list1 = []
list1.append('a')
list1.append('b')
list1.append('c')
list1.append('c')
list1.extend([4.6, 6.6])
list1.insert(3,'uhu')
print(list1)
print(list1[2:4])

['a', 'b', 'c', 'uhu', 'c', 4.6, 6.6]
['c', 'uhu']

## Adding , Removing items from list

In [24]:
# Insert
c = ['a', 'b', 'c']
c.insert(0, 'blablabla')
print(c)
# Remove
c.remove('b')
print(c)
# Remove at index
del c[0]
print(c)

['blablabla', 'a', 'b', 'c']
['blablabla', 'a', 'c']
['a', 'c']

## Maps/Dictionaries/Sets/Hash Tables and Functional Programming

In [40]:
d = {'name': "Alex", 'address':"Street magic"}
print(d)
print(d['name'])

if 'name' in d:
    print("Name is defined and the name is " + d['name'])

if 'age' in d:
    print("age defined")
else:
    print("age undefined")

{'name': 'Alex', 'address': 'Street magic'}
Alex
Name is defined and the name is Alex
age undefined

In [41]:
d = {'name': "Alex", 'address':"Street magic"}
# All of the keys
print(f"Key: {d.keys()}")

# All of the values
print(f"Values: {d.values()}")

Key: dict_keys(['name', 'address'])
Values: dict_values(['Alex', 'Street magic'])

In [42]:
for item in d.
    print(item)

('name', 'Alex')
('address', 'Street magic')

In [23]:
# Manually add items, sets do not allow duplicates
# Sets add, lists append.
set1 = set()
set1.add('a')
set1.add('b')
set1.add('c')
set1.add('c')
print(set1)

{'a', 'b', 'c'}

In [44]:
li = [4, 2, 10, 2, 1, 10, 0, 6, 0, 8, 10, 9, 2, 4, 7, 8, 10, 8, 8, 2]
type(li)

list

In [47]:
s = set(li)# Remove duplicates
print(s)

{0, 1, 2, 4, 6, 7, 8, 9, 10}

In [33]:
list(map(Add, range(10),range(10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [36]:
list(map(lambda x,y: x+y, range(10), range(10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]